.ColoreRosso{
    background-color: rgb(255, 8, 0);
    height: 10px;

}
.ColoreVerde{
    background-color: rgb(21, 255, 0);
    height: 10px;
}
.ColoreBlu{
    background-color: rgb(70, 29, 255);
    height: 10px;
}

.OutData{
    text-align: center;
    height: 30px;
}

table, th, td, tr{
    border: solid 1px black;
}